"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "about"
      "archive-view"
      "autoflow"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "image-view"
      "link"
      "metrics"
      "package-generator"
      "spell-check"
      "styleguide"
      "timecop"
      "welcome"
    ]
    telemetryConsent: "no"
  editor:
    lineHeight: 1.4
    softWrap: true
    tabLength: 4
    tabType: "soft"
    undoGroupingInterval: 500
  fonts:
    fontFamily: "Source Code Pro Medium"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
